.header {
	background: $off-black;
	margin-bottom: $m-size;
	padding: $m-size 0;
	color: #fff;
}
// BEM
.header__title {
	font-size: $l-size;
	margin:0;
	color: $soft-foam;
}
.header__subtitle{
	font-size: $m-size;
	margin:0;
	color: #f0fce8;
	font-weight:500;
}

@media (min-width: $desktop-breakpoint) {
	.header{
		margin-bottm: $xl-size;
	}
}