// Colors
$off-black: #20222b;
$soft-foam: #f0fce8;
$dark-blue: #223042;
$purple: #8357c5;
$blue: #3c4251;
$light-blue: #464b5e;
// Fonts
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.4rem;

//Breakpoints
$desktop-breakpoint: 45rem;